<head>
	<title>PriceCorp</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" , href="{{ url_for('static', filename='style.css') }}">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Mochiy+Pop+One&display=swap" rel="stylesheet">
</head>

<body>
	<header>
		{% if id %}
		<div class="admin_nappi">
			<form action="/adminpage" method="POST">
				<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
				<input type="submit" value="adminpage">
			</form>
		</div>
		{% endif %}
		<h1>PriceCorp</h1>
		<h3>the place where prices meet your demand</h3>
		<form action="/logout" method="POST">
			<input type="submit" value="log out">
		</form>
	</header>
	<main>
		{% for i in range(length) %}
		<section class="pillar">
			<a href="{{url_for('homeshop', id=shoplist[i].id)}}">
				{% if shoplist[i][4]==True %}
				<img class="logo" src="{{ url_for('showpic', id=shoplist[i][0]) }}" alt="shop logo">
				{% else %}
				<img class="logo" src="{{ url_for('static', filename='placeholder.PNG') }}" alt="Shop logo">
				{% endif %}
				<div class="overlay"></div>
			</a>
			<br>
			<div class="shown">
				<p>
					{{shoplist[i][1]}}
				</p>
			</div>
			<div class="hidden">
				<p>See more</p>
			</div>
		</section>
		{% endfor %}
	</main>
	<div class="hintalaskuri">
		Product Price Calculator
		<form action="/findcheapest" method="POST">
			<label for="amount">Amount of items to be bought?</label>
			<input type="number" name="amount" id="amount" min="1" max="50">
			<input type="submit" value="go to form">
		</form>
	</div>
	
	<br>
	<br>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>



</body>