<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css')}}">
</head>


Username or password incorrect. Register a new account if you dont have one yet.
<div class="form-container">
    <form action="/logcheck" method="POST">
        <label for="username">Username</label>
        <input type="text" id="username" name="name">
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="pass">
        <br>
        <input type="submit" value="Login">
    </form>
    <a class="register-button" href="/register">Register</a>
</div>